---
import Rootlayout from "~/layouts/root-layout.astro";
import ThemeToggle from "~/components/svelte/theme/theme-toggle.svelte";
---

<Rootlayout title="Home">
  <section class="min-h-screen flex flex-col gap-4 justify-center items-center">
    <ThemeToggle client:load />
  </section>
</Rootlayout>
